<%= form_with model: @event do |form| %>
  <%= form.label :title, "Title:" %>
  <%= form.text_field :title, placeholder:"Title" %><br><br>

  <%= form.label :date, "Date" %>
  <%= form.date_select :date %><br><br>

  <%= form.label :location, "Location:" %>
  <%= form.text_area :location, placeholder:"Location" %><br><br>

  <%= form.label :description, "Description:" %>
  <%= form.text_area :description, placeholder:"Description" %><br><br>

  <%= form.submit "Submit" %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
