<h2><%= @event.title %></h2>
<p><%= @event.date %></p>
<p><%="Location: " + @event.location %></p>
<p><%="Description: " + @event.description %></p>

<%= button_to "Going", event_registration_path(event_id: @event.id), method: :patch %>
<p class="flash-notice"><%= flash[:notice] %></p>

<h3><%= "Attendees:" %></h2>
<ul>
  <% @attendees.each do |attendee| %>
    <li><%= attendee.username %></li>
  <% end %>
</ul>